@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
:root {
  --mainbgcolor: #010711;
  --maincontentcolor: #001D3D;
  --secondarycontentcolor: #003566;
  --textcolor: #DDFFF7;
  --highlight: #81C14B;
  --additionalcolor1: #B80C09;
  --additionalcolor2: #9ECE9A;
  --thirdcontentcolor: #D9DCD6;


}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--mainbgcolor);
  color: var(--textcolor);
  padding: 10px;
}
input[show="0"]{
  display:none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
code:hover{
  -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
}
code:focus{
  -webkit-user-select: auto;
  -moz-user-select: auto;
  user-select: auto;
}
button{
  background-color: white; 
  height: 30px;
  color: #000000;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px 0 20px 0px;
  transition-duration: .25s;
  margin: 5px;
  font-family: 'Rajdhani', sans-serif;
}

button:hover {
  background-color: black; 
  color: white;
  border-color: var(--highlight);
}
form{
  width: 400px;
}
input{
  height: 40px;
  margin: 5px;
  border-radius: 20px 0 20px 0px;;
}
.content{
  width: 800px;
  background-color: var(--maincontentcolor);
  margin: auto;
  padding: 10px;
  /* border-radius: ; */
}
.code{
  /* width: ; */
  overflow:auto;
  color: var(--mainbgcolor);
  border-color: var(--secondarycontentcolor);
  border-style: solid;
  border-width: 2px;
  background-color: var(--thirdcontentcolor);
  padding: 10px;
  position: relative;
  border-radius: 20px 0 0px 20px;
}
.code[animate='1']{
  animation: roll .75s; 
  animation-timing-function: ease;
}

.listItem{
  width: min 40%;
  height: 50px;
  border-color: var(--secondarycontentcolor);
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  background-image: linear-gradient(to right, var(--mainbgcolor), var(--additionalcolor2));
  position: relative;
  animation: roll .75s; 
  animation-timing-function: ease;
}
.listItem:hover{
  cursor: pointer;
  background-image: linear-gradient(to right, var(--mainbgcolor), var(--highlight));
}
.navButts{
  width: 250px;
  height: 30px;
  padding: 10px;
  background-color: var(--secondarycontentcolor);
  margin: 20px;
}
.reuseForm{
  padding: 10px;
  margin: 20px;
}
.mascot{
  font-size: 50px;
}
@keyframes roll {
  0%   {left:500px }
  100% {left:0px }
}