@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
:root {
  --mainbgcolor: #000814;
  --maincontentcolor: #001D3D;
  --secondarycontentcolor: #003566;
  --textcolor: #DDFFF7;
  --highlight: #81C14B;
  --additionalcolor1: #B80C09;
  --additionalcolor2: #9ECE9A;
  --thirdcontentcolor: #D9DCD6;


}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--mainbgcolor);
  color: var(--textcolor);
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
code:hover{
  -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
}
code:focus{
  -webkit-user-select: auto;
  -moz-user-select: auto;
  user-select: auto;
}
button{
  background-color: white; 
  height: 30px;
  color: #000000;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px 0 20px 0px;
  transition-duration: .25s;
  margin: 3px;
  font-family: 'Rajdhani', sans-serif;
}

button:hover {
  background-color: black; 
  color: white;
  border-color: var(--highlight);
}
form{
  width: 400px;
}
.content{
  width: 450px;
  background-color: var(--maincontentcolor);
  margin: auto;
  padding: 10px;
  /* border-radius: ; */
}
.code{
  width:400px;
  overflow:auto;
  color: var(--mainbgcolor);
  border-color: var(--secondarycontentcolor);
  border-style: solid;
  border-width: 2px;
  background-color: var(--thirdcontentcolor);
  padding: 10px;
}
.listItem{
  width: 400px;
  height: 50px;
  border-color: var(--secondarycontentcolor);
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  background-image: linear-gradient(to right, var(--mainbgcolor), var(--additionalcolor2));
}
.listItem:hover{
  cursor: pointer;
  animation-name: gradient;
  animation-duration: 5s;
}
@keyframes gradient{
  0%{
    background-image: linear-gradient(to right, var(--mainbgcolor), var(--additionalcolor2));
    left: -400px; 
  }
  100%{
    background-image: linear-gradient(to right, var(--mainbgcolor), var(--highlight));
    left: 0px; 
  }
}